<% if (bird.length == 0) {bird[0] = 0} %>
<label for="Primary_Name">Primary Name</label>
<input name="Primary_Name" type="text" value="<%= bird[0].primary_name %>">
<label for="English_Name">English Name</label>
<input name="English_Name" type="text" value="<%= bird[0].english_name %>">

<label for="Scientific_Name">Scientific Name</label>
<input name="Scientific_Name" type="text" value="<%= bird[0].scientific_name %>">
<label for="Order">Order</label>
<input name="Order" type="text" value="<%= bird[0].order_name %>">
<label for="Family">Family</label>
<input name="Family" type="text" value="<%= bird[0].family %>">

<label for="Length">Length (cm)</label>
<input name="Length" type="value" value="<%= bird[0].length %>">
<label for="Weight">Weight (g)</label>
<input name="Weight" type="value" value="<%= bird[0].weight %>">

<label for="status_name">Status</label>
<select name="status_name" id="status">
    <% for (var i = 0; i < status.length; i++) {
        if (status[i].status_name == bird[0].status_name){ %>
            <option selected="selected"><%= status[i].status_name %></option>
        <% } else { %>
            <option><%= status[i].status_name %></option>
        <% }
        } %>
</select>           

<label for="photographer">Photo Credit</label>
<input type="text" name="photographer" value="<%= bird[0].photographer %>">
<label for="photo_upload">Upload New Photo</label>
<input type="file" name="photo_upload" id="photo_upload">
<label for="photo_source">Photo Preview</label>
<img id="upload_preview" src="/images/<%= bird[0].filename %>" alt="Photo of <%= bird[0].primary_name %>">
<input id="upload_source" type="text" name="photo_source" value="<%= bird[0].filename %>" readonly="readonly">

<input id="bird_id" name="bird_id" type="hidden" value="<%= bird[0].bird_id %>">